<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>helloService</servlet-name>
    <servlet-class>ua.demitt.homework.hellogwthibernate.server.service.HelloServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloService</servlet-name>
    <url-pattern>/ua.demitt.homework.hellogwthibernate.Hello/helloService</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>Hello.html</welcome-file>
  </welcome-file-list>

</web-app>
